

*{
 Box-sizing:border-box;
}


.intro_iphone{
	background:black;
	position:relative;
}
.mask{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0)
}
body{
	color:whitesmoke;
	background:black;
	font-weight:800; 
}
.fade{
	/*color:#1d1d1f;*/
  color:whitesmoke;
	opacity:0.3;
	
}
.fade1{
	/*color:#1d1d1f;*/
  color:whitesmoke;
	opacity:0.8;
	font-size:30px;
}
.apple1{
	position:relative;
	background:black;
	float:left;
	padding:13px;
	margin:15px;
	width:200;
}
.info{
	position:absolute;
	bottom:0;
	left:0;
	display:none;
}
.apple1:hover{
	box-shadow:3px 3px 2px 0px white;
}
.apple1:hover .info{
	display:inline-block;
}

@import url(https://fonts.googleapis.com/css?family=Lato:600);

.body1 {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 20%;
  background: black;
}

.rotating-text {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: white;
  transform: translateX(-80px);

  p {
    display: inline-flex;
    margin: 0;
    vertical-align: top;

    .word {
      position: absolute;
      display: flex;
      opacity: 0;

      .letter {
        transform-origin: center center 25px;

        &.out {
          transform: rotateX(90deg);
          transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
        }
        &.in {
          transition: 0.38s ease;
        }
        &.behind {
          transform: rotateX(-90deg);
        }
      }
    }
  }
}


.alizarin {
  color: #e74c3c;
}

.wisteria {
  color: #8e44ad;
}

.peter-river {
  color: #3498db;
}

.emerald {
  color: #2ecc71;
}

.sun-flower {
  color: #f1c40f;
}



  .container {
	position: relative;
	width:50%;
	height:300px;
	margin:auto;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	width:20%;
  }
  
  /* Container for image text */
  .caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Six columns side by side */
  .column {
	float: left;
	width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }

.spanfoot{
	text-decoration:underline;
	font-weight:bold;

}
/*.foot{
	border:2px solid #1d1d1f;
	border-radius:20px;
	max-width:60%;
	background:black;
	color:lightgrey;
	font-weight:200px;
  display:block;

}*/

.content1{
  margin:45px;
  background:black;
  color:white;
  float:left;
  width:260px;
  
}


/*.navbox{
	color:#1d1d1f;
	border:1px solid black;
	border-radius:4px;
	cursor:pointer;
	background:white;

}

.navbox:hover{
	background:black;
	color:white;

}

.searchbar{
	max-width:30px;

}

ul{
	list-style-type:none;
}
li{
	display:inline-block;
	margin:3px;
}*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul .coollook {
  display: inline-block;
}

nav ul .coollook a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul .coollook a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 122, 0.7);
}
input{
	width:90%;
	border-radius:222px;
}
/*input:hover{

	background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
	color:white;
}*/
.result{

  position:absolute;
  bottom:0;
}
.search-input{
  position:relative;
}


.popup{
  width:400px;
  background:#000;
  border-radius:6px;
  position:absolute;
  z-index:1;
  top:0;
  left:50%;
  transform:translate(-50%,-50%) scale(0.1);
  text-align:center;
  padding:0 30px 30px;
  color:#fff;
  visibility:hidden;
  transition:transform 0.4s,top 0.4s;
}

.open-popup{
  visibility:visible;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
}



.popup img{
  width:100px;
  margin-top:50px;
  border-radius:50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin:30px 0 10px;
}
.popup button{
  width:100%;
  margin-top:50px;
  padding:10px 0;
  background:#6fd649;
  color:#fff;
  border:0;
  outline:none;
  border-radius:4px;
  cursor:pointer;
  box-shadow: 0px 5px 5px rgba(255,255,255,1);
}